/***GLOBAIS***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Bitter', serif;
    width: 98.7vw;
}

h1 {
    font-size: 48px;
    font-style: italic;
    margin-bottom: 16px;
}
h2 {
    font-size: 32px;
    margin-bottom: 12px;
}
h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}

a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: inherit;
    border-bottom: 3px solid transparent;
}
/***/

/***CLASSES PADRÃO***/
.main-container {
    height: 100%;
    width: 95%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.column-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/***/
/***BOTÃO VOLTAR AO TOPO***/
a.back-to-top-button {
    display: block;
    color: #e2e2e2;
    background-color: #51260E;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    position: fixed;
    bottom: 10px;
    right: 15px;
    width: 26px;
    text-align: center;

}
/***/
/***CAPA + CABEÇALHO***/
@media screen and (min-width: 801px) {
    .cover {
        background: url('../img/background-cover.jpg') right center no-repeat;
        background-size: cover;
        height: fit-content;
        min-height: 350px;
    }

    header{
        text-align: center;
        padding-left: 200px;
    }

    header nav {
        background-color: #fff;
        width: 50%;
        clip-path: polygon(0 100%, 0 0, 100% 0, 95% 100%);
        padding: 10px 20px 10px 0;
    }

    header nav ul {
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    header nav a {
        padding: 5px 10px;
    }
        header nav a:hover {
            border-bottom: 2px solid chocolate;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 50px 50px 10px;
        background: rgb(255,255,255);
        border-radius: 0 0 131px 0;
    }

    .logo img {
        width: 150px;
    }

    .cover-text {
        color: #e2e2e2;
        height: 100%;
        width: calc(50% - 195px);
        margin-left: 195px;
    }

    .badges-cover img {
        height: 15vh;
        max-height: 55px;
        margin: 10px 15px 0 0;
        border: 3px solid transparent;
        border-radius: 8px;
    }
        .badges-cover img:hover {
            animation-name: social;
            animation-duration: 1.5s;
    }
} 
/***/

/***SEÇÃO OPÇÕES DE COMPRA***/
#options {
    background-color: #e3e3e3;
}

.box-option {
    width: 90%;
    text-align: center;
}

#options img {
    max-width: 100px;
}
/***/

/***SEÇÃO COMO FUNCIONA***/
#step-by-step {
    background-color: #51260E;
    color: #e2e2e2;
}

#step-by-step :target {
    scroll-margin-top: 150px;
}

.box-target {
    padding: 0 0 30px;
    margin-top: 30px;
}

.buttons a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0 50px;
    padding: 10px 30px;
    background-color: #e2e2e2;
    color: #51260E;
    border-radius: 5px;
    display: block;
}
    .buttons a:hover {
        background-color: #c0c0c0;
        border-bottom: 2px solid chocolate;
}

#texto, #texto2 {
    display: none;
}
    #texto:target, #texto2:target {
        display: grid;
        grid-template: repeat(4, 1fr) / 1fr 3fr;
        row-gap: 20px;
        align-items: center;
        z-index: 5;
        color: #51260E;
        background-color: #e2e2e2;
        border-radius: 5px;
        margin: 20px;
        padding: 3vw;
        width: 720px;
}

#texto img, #texto2 img {
    justify-self: center;
    width: 50%;
    max-width: 70px;
}

#texto p, #texto2 p {
    justify-self: self-start;
}
/***/

/***SEÇÃO FRASE DESTAQUE 1 E 2***/
#highligth {
    color: #e2e2e2;
    padding: 0;
    height: 45vh;
    background-image: url('../img/delivery-background.jpg');
    background-position: center 40%;
    background-attachment: fixed;
    background-size: cover;
}

#highligth-2 {
    color: #e2e2e2;
    padding: 0;
    height: 45vh;
    background-image: url('../img/groceries-background.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.layer {
    background-color: rgb(101 34 9 / 85%);;
    height: 100%;
}

.quote-img {
    position: relative;
    width: 50px;
    margin-top: -15vh;
}
/***/

/***SEÇÃO DÚVIDAS FREQUENTES***/
#faq {
    background-color: #e3e3e3;
    background-image: url('../img/faq-background.jpg');
    background-position: 30% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    height: fit-content;
    min-height: 75vh;
}

#faq .main-container {
    height: 100%;
}

/*
ACCORDION - Fonte referência: https://blog.mxcursos.com/criando-accordion-com-css3/
*/
.accordions{
    width:100%;
    margin:0 auto;
    border:1px solid #ccc;
}

.accordion-item input{
	display:none;
}

.accordion-item label{
    display:block;
    border:1px solid #ccc;
    background:#e5e5e5;
    cursor:pointer;
	padding:5px 8px;
}

.accordion-content{
    height: 0px;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
}

[id^=accordion]:checked ~ label {
    background-color: #51260E;
    color: #e2e2e2;
    border: none;
}

[id^=accordion]:checked ~ .accordion-content {
    background-color: #cfb5a7;
    height: fit-content;
    padding: 5px 8px;
}
/***/

/***RODAPÉ***/
footer {
    background-color: #51260E;
    color: #e2e2e2;
}

.sitemap li{
    margin-bottom: 10px;
    list-style: circle;
}

.sitemap a:hover {
    border-bottom: 2px solid chocolate;
}

.badges-footer img {
    width: 15vw;
    max-width: 150px;
    margin: 5px;
    border: 3px solid transparent;
    border-radius: 7px;
}
    .badges-footer img:hover {
        animation-name: social;
        animation-duration: 1.5s;
}

.social img {
    width: 50px;
    margin: 7px;
    border: 3px solid transparent;
    border-radius: 50%;
}
    .social img:hover {
        animation-name: social;
        animation-duration: 1.5s;
}
@keyframes social {
    0%   {border-color: rgb(146, 69, 14);}
    25%  {border-color: transparent;}
    40%  {border-color: rgb(146, 69, 14);}
    100% {border-color: transparent;}
}

.copy {
    text-align: center;
    font-size: small;
}



/***RESPONSIVIDADE***/
@media screen and (min-width: 451px) and (max-width: 800px) {
    /***GLOBAIS (451px - 800px)***/
    body {
        width: 100vw;
    }

    h1 {
        font-size: 36px;
        font-style: italic;
        margin-bottom: 12px;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }
    h3 {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 8px;
    }
    /***/
    /***CAPA + CABEÇALHO (451px - 800px)***/
    .cover {
        background: url('../img/background-cover.jpg') center center no-repeat;
        background-size: cover;
        height: fit-content;
        min-height: 350px;
    }

    header{
        text-align: center;
        padding-left: 200px;
    }

    header nav {
        background-color: #fff;
        width: 100%;
        clip-path: polygon(0 100%, 0 0, 100% 0, 95% 100%);
        padding: 10px 20px 10px 0;
    }

    header nav ul {
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    header nav a {
        padding: 5px 10px;
    }
        header nav a:hover {
            border-bottom: 2px solid chocolate;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 50px 50px 10px;
        background: rgb(255,255,255);
        border-radius: 0 0 131px 0;
    }

    .logo img {
        width: 150px;
    }

    .cover-text {
        color: #e2e2e2;
        height: 100%;
        width: 70%;
        margin-top: 200px;


    }

    .badges-cover img {
        height: 15vh;
        max-height: 55px;
        margin: 10px 15px 0 0;
        border: 3px solid transparent;
        border-radius: 8px;
    }
        .badges-cover img:hover {
            animation-name: social;
            animation-duration: 1.5s;
    }
    /***/

    /***SEÇÃO COMO FUNCIONA (451px - 800px)***/
    #texto:target, #texto2:target {
        grid-template: repeat(4, 1fr) / 1fr 5fr;
        row-gap: 5px;
        text-align: left;
        margin: 10px 0;
        padding: 2vw;
        width: 95vw;
        min-height: 260px;
    }

    #texto img, #texto2 img {
        max-width: 30px;
    }

    #texto p, #texto2 p {
        justify-self: self-start;
    }
    /***/

    /***SEÇÃO DÚVIDAS FREQUENTES (451px - 800px)***/
    #faq {
        background-color: #e3e3e3;
        background-image: url('../img/faq-background.jpg');
        background-position: 30% bottom;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 0;
        height: fit-content;
        min-height: 50vh;
    }
    
    #faq .main-container {
        height: 100%;
    }

} 


@media screen and (max-width: 450px) {
    /***GLOBAIS (0px - 450px)***/
    body {
        width: 100vw;
    }

    h1 {
        font-size: 32px;
        font-style: italic;
        margin-bottom: 12px;
    }
    h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }
    h3 {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 8px;
    }
    /***/

    .mobile-three-row {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 3fr 3fr;
        row-gap: 3vh;
    }

    .mobile-two-row {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 7vh;
    }

    /***CAPA + CABEÇALHO (0px - 450px)***/
    .cover {
        background: url('../img/background-cover.jpg') center center no-repeat;
        background-size: cover;
        height: fit-content;
        min-height: 80vh;
    }

    header{
        display: flex;
        text-align: center;
        padding-left: 0;
    }

    .logo {
        position: unset;
        top: 0;
        left: 0;
        padding: 10px 50px;
        background: rgb(255,255,255);
        border-radius: 0;
    }

    .logo img {
        width: 80px;
    }

    header nav {
        background-color: #fff  ;
        width: 100%;
        clip-path: none;
        padding: 10px 20px 10px 0;
    }
    
    header nav ul {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    header nav a {
        padding: 0;
    }
        header nav a:hover {
            border-bottom: 2px solid transparent;
    }

    .cover-text {
        color: #e2e2e2;
        height: 100%;
        width: 60%;
        margin-left: 10px;
    }

    .badges-cover {
        display: flex;
        flex-wrap: wrap;
    }
    .badges-cover img {
        height: 15vh;
        max-height: 55px;
        margin: 10px 15px 0 0;
        border: 3px solid transparent;
        border-radius: 8px;
    }
        .badges-cover img:hover {
            animation-name: social;
            animation-duration: 1.5s;
    }
    /***/

    /***SEÇÃO COMO FUNCIONA (0px - 450px)***/
    #step-by-step {
        text-align: center;
    }

    .buttons a {
        margin: 0 5px;
        padding: 5px 15px;
    }

    #step-by-step :target {
        scroll-margin-top: 190px;
    }

    #texto:target, #texto2:target {
        grid-template: repeat(4, 1fr) / 1fr 5fr;
        row-gap: 5px;
        text-align: left;
        margin: 10px 0;
        padding: 2vw;
        width: 95vw;
        min-height: 260px;
    }

    #texto img, #texto2 img {
        max-width: 30px;
    }

    #texto p, #texto2 p {
        justify-self: self-start;
    }
    /***/
    /***SEÇÃO FRASE DESTAQUE 1 E 2 (0px - 450px)***/
    .layer {
        padding: 3vw;
    }
    /***/
    /***SEÇÃO DÚVIDAS FREQUENTES (0px - 450px)***/
    #faq{
        background-image: url('../img/faq-background.jpg');
        background-position: left 10%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .mobile-faq-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 170px 1fr;
    }
    /***/
    /***RODAPÉ (0px - 450px)***/
    .badges-footer img {
        width: 50vw;
        max-width: 200px;
        margin: 5px;
        border: 3px solid transparent;
        border-radius: 7px;
    }
    /***/