body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

.green-background, .yellow-background, .pink-background, .blue-background, .red-background, .lightgreen-background, .purple-background{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.green-background {
    background-color: green;
}

.yellow-background {
    background-color: yellow;
}

.pink-background {
    background-color: fuchsia;
    grid-row: 2 / 10;
}

.blue-background {
    background-color: blue;
}

.red-background {
    background-color: red;
}

.lightgreen-background {
    background-color: lightgreen;
}

.purple-background {
    background-color: purple;
}

#top-container{
    display: grid;
    grid-template-columns: 30% 70%;
}

#main-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(15, 6.66%);
}

#middle-container{
    grid-row: 10 / 15;
    display: grid;
    grid-template: 50% 50% / repeat(4, 25%);
}

#content2{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

#blank{
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
}

#vertical-middle-container{
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: 50% 50%;
}

/* #image{
    grid-row: 1 / span 1;
}

#extra{
    grid-row: 2 / span 1;
} */