.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/*todos os elementos agora levarão em conta apenas a largura e altura determinada, sem somar a este valor a borda e o padding.*/
*, *:before, *:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

/****CORPO DA PÁGINA****/
body{
  /*Determina a largura máxima do conteúdo (desktop)*/
  max-height: 100vh;
  max-width: 98vw;
  margin: 0;

  /*Padronizar o tamanho da fonte de referência*/
  font: normal 10px Calibri; 
}

/*Se a tela for de, pelo menos, 590px*/
@media (min-width: 590px) {
  body{
    font-size: 12px;
    max-width: 100vw;
  }
}
/*Se a tela for de, pelo menos, 880px*/
@media (min-width: 880px) {
  body{
    font-size: 15px;
  }
}
/*Se a tela for de, pelo menos, 1000px*/
@media (min-width: 1000px) {
  body{
    font-size: 20px;
  }
}

/*BARRA DE MENU*/
header{
  width: 100%;
  height: 40px;
  margin-top: 1.5em;
  margin-bottom: 2.5em;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu ul {
  list-style:none;
  text-align: center;
  padding: 0;
}
.menu li { 
  display: inline;
}
.menu a {  
  border-radius: 0.5em;
  display: inline-block;
  margin: 5px 0;
  padding: 5px 10px;
  
  /* visual do link */
  border: solid 1px rgb(211, 211, 211);
  color: #324474;
  font-weight: bolder;
  text-decoration: none;
}
.menu ul li a:hover {
  background-color:#D6D6D6;
  border-bottom:2px solid #324474;
  color: #6D6D6D;
}
#selected{
  background-color:#324474;
  color: whitesmoke;
}

/*MENU NO MOBILE*/
label[for="bt_menu"]{
  padding: 1em;
  color: #324474;
  font-weight: 800;
  text-align: left;
  cursor: pointer; 
  display: none;
}
#bt_menu{
  display: none; /*checkbox*/
}

@media(max-width: 800px){
  header{
    margin-bottom: 0.5em;
  }

  label[for="bt_menu"]{
    background-color: #324474;
    border-radius: 0 0 10px 0;
    color: whitesmoke;
    display: block;
    width: fit-content;
    margin-top: -1.5em; /*zerando margem do header*/
  }

  .menu{
    display: none;
    position: relative;
    z-index: 999;
  }
  #bt_menu:checked ~ .menu{
    display: block;    
  }
  #selected{
    display: none;
  }

  .menu ul{
    margin-top: 0;
    background-color: #FFF;
  }
  .menu a{
    border-bottom: 1px solid rgba(50, 68, 116, 0.3);
    border-radius: 0;
    margin: 0;
    width: 100vw;
    float: none;
  }
}
/*Fim mobile*/
/*Fim do menu*/


.botoes {
  min-width: 5em;
  max-width: 90vw;
  margin: 4em auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.facebook{
  font-family: Lucida, Tahoma, Helvetica, Roboto;
  position: relative;
  display: inline-flex;
  width: 500px;
  height: 350px;
  margin: 5px 10px;
  text-align: center;
  color: #fff;
  font-size: 220px;
  line-height: 250px;
  vertical-align: middle;
  background-color: #385596;
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
button#botaofb {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/df/Facebook_logo_thumbs_up_like_transparent_SVG.svg);
    background-color: #e7e9f1;
    color: #385596;
    background-size: 50px;
    background-position: 20px 25%;
    background-repeat: no-repeat;
    margin: auto;
    width: 200px;
    height: 59px;
    font-size: 20px;
    border: 1px solid #a8b4c9;
    text-align: center;
    text-indent: 32px;
}

.instagram{
  font-family:  Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  position: relative;
  display: inline-flex;
  width: 500px;
  height: 350px;
  margin: 5px 10px;
  text-align: center;
  color: #fff;
  font-size: 210px;
  line-height: 250px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
button#botaoig {
  background-image: url(https://cdn.shortpixel.ai/client/q_glossy,ret_img,w_1024/https://www.konfest.com/wp-content/uploads/2019/05/Konfest-PNG-JPG-Image-Pic-Photo-Free-Download-Royalty-Unlimited-clip-art-sticker-Heart-Valentines-Day-love-42.png);
  background-color: #ffffff;
  color: #000;
  background-size: 65px;
  background-position: 5px 80%;
  background-repeat: no-repeat;
  margin: auto;
  width: 200px;
  height: 59px;
  font-size: 20px;
  box-shadow: none;
  border: none;
  text-align: center;
  text-indent: 32px;
}

footer{
  color: #000;
  text-align: center;
  font-style: italic;
  margin: 1em;
}
footer p {
  margin: 0;
  font-size: 0.7em;
}